@{
    ViewBag.Title = "Home Page";
}

<!<!DOCTYPE html>

<html lang="en-ca">
    <head>
        <title>The World - @ViewBag.Title</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/site.css">
    </head>

<body>
    <div id="sidebar">
        <img src="img/cile.jpeg" alt="headshot" class="headshot">
        <span id="userName">User</span>
        <ul class="menu">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="main">
            <div>
                <button id="sidebarToggle">Toggle Menu</button>
            </div>
            <h2>The World</h2>
            <p>Fun site!</p>

            <form>
                <div>
                    <label for="date">Date</label>
                    <input type="text" name="date" value="">
                </div>
                <div>
                    <label for="location">Location</label>
                    <input type="text" name="location" value="">
                </div>
                <div>
                    <input type="submit" name="submit" value="Add">
                </div>
            </form>
        </div>

        <div id="footer">
            &copy; 2016 The World
        </div>
    </div>

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/site.js"></script>

</body>

</html>